package-db: D:\MinGW\msys\1.0\home\Peter Berry\cabaldev-bugtest\cabal-dev\packages-7.4.1.conf
local-repo: D:\MinGW\msys\1.0\home\Peter Berry\cabaldev-bugtest\cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: D:\Documents and Settings\Peter Berry\Application Data\cabal\packages
world-file: D:\Documents and Settings\Peter Berry\Application Data\cabal\world
build-summary: D:\MinGW\msys\1.0\home\Peter Berry\cabaldev-bugtest\cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: D:\MinGW\msys\1.0\home\Peter Berry\cabaldev-bugtest\cabal-dev/
install-dirs global
  prefix: D:\MinGW\msys\1.0\home\Peter Berry\cabaldev-bugtest\cabal-dev/